.container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  text-align: center;
  }
  
.container h1 {
  width: 10em;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  opacity: 0; /* Initial opacity set to 0 */
}




