.button {
  display: inline-block;
  padding: 16px 20px 15px 20px;
  font-size: 27px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bolder;
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 20px;
  margin-bottom: 70px;
  height: 65px;
  text-align: center;
  position: relative;
  overflow: hidden;
  text-shadow: #0f5f19 1px 1px 0.5px;
  font-weight: 900;
  transition: background-color 0.4s ease;
}

.button::before {
  content: '';
  background-color: #B0F4B9;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 0; /* Initial position à gauche de l'élément parent */
  transform: translateY(-50%);
  z-index: -1;
  transition: border-radius 0.4s ease-in-out;
}

.button:hover::before {
  width: 100%;
  border-radius: 50px;
  transition: width 0.4s ease-in-out;
}

.button:not(:hover)::before {
  width: 50px;
  transition: width 0.4s ease-in-out, border-radius 0.3s ease-in-out; /* Transition plus lente après le survol */
  border-radius: 50px; /* La valeur initiale de border-radius */
}

@media screen and (max-width: 1160px) {
  .button {
    font-size: 22px;
    margin-bottom: 25px;
  }

  .button::before {
    top: 45%;
  }
}

@media screen and (max-width: 890px) {
  .button {
    font-size: 20px;
    margin-right: 12px;
    margin-left: 14px;
    padding-left: 12px;
  }

  .button::before {
    height: 45px;
  }
  
  .button:not(:hover)::before {
    width: 45px;
  }
}

@media screen and (max-width: 776px) {
  .button {
    margin-top: 18px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 450px) {
  .button {
    font-size: 17px;
    padding-top: 19px;
    padding-left: 11px;
    padding-right: 11px;
  }

  .button::before {
    height: 38px;
  }

  .button:not(:hover)::before {
    width: 38px;
  }
}

@media screen and (min-width: 1600px) {
  .button {
    font-size: 34px;
    padding-top: 13px;
  }

  .button::before {
    height: 65px;
  }
  
  .button:not(:hover)::before {
    width: 65px;
  }
}