.button {
    display: inline-block;
    padding: 15px 20px;
    font-size: 24px;
    color: #ffffff;
    border: #B0F4B9;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 17px;
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 70px;
    width: 180px;
    height: 65px;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-shadow: #0f5f19 1px 1px 0.5px;
    font-weight: 900;
  }

  .button::before {
    content: '';
    background-color: #B0F4B9;
    width: 140px;
    height: 65px;
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 0; /* Ajuster le positionnement du cercle sur les deux premières lettres */
    z-index: -1;
    transform: scaleX(0.5); /* Initialiser la largeur du cercle à 0 */
    transform-origin: left; /* Transformation à partir de la gauche */
    transition: transform 0.3s ease-in-out; /* Animation fluide */
}

.button:hover::before {
    transform: scaleX(2); /* Au survol, agrandir le cercle pour recouvrir le texte */
     /* Ajuster le positionnement du cercle sur toutes les lettres */
}

