.main_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url('/images/backgroundImg.png'); 
    background-size: cover;
    background-position: center;
    z-index: -1; 
}

.main_content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.main_content p {
    width: 40%;
    min-width: 530px;
    margin-top: 28px;
    font-size: 21px;
    text-shadow: rgb(83, 121, 88).5px 0.5px 1px;
    color: hsl(262, 100%, 98%);
    z-index: 0;
}

.main_content img {
    margin-bottom: -10px;
    margin-top: -25px;
}

.main_content_text {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: none;
  }

.aside_background {
    position: absolute;
    top: 54%;
    right: 0;
    width: 100%;
    height: 45%;
    background-color: #82C28A;
    z-index: -1;
}

.aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: auto;
    overflow-x: hidden;
    z-index: 0;
}

.aside_content {
    flex: 1; /* Utilisation de flex pour occuper l'espace restant */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35px;
    padding-bottom: 140px;
    padding-top: 60px;
    position: relative;
}

.aside_content_order_button {
    display: flex;
    flex-wrap: nowrap;
}

.aside_content_order_button,
.aside_content_review_button {
    margin-left: 50px;
}

.aside_content_order,
.aside_content_review {
    padding-left: 5%;
}

.aside_content_order p,
.aside_content_review p {
    margin-top: 25px;
    font-size: 29px;
}

.aside_content_order p::after,
.aside_content_review p::after {
    content: "";
    display: block;
    margin-top: 15px;
    margin-left: 26px;
    left: 0;
    height: 4px; /* Ajustez l'épaisseur de la ligne selon vos préférences */
    background-color: #ffffff; /* Couleur de la ligne */
}

.aside_content_order p::after {
    width: 4em;
}

.aside_content_review p::after {
    width: 5.6em;
}

.aside_content_review,
.aside_content_order {
    display: flex;
    flex-direction: column;
    text-shadow: rgb(255, 255, 255).5px 0.5px 1px;
}

.aside_picture {
    position: relative;
    height: 38em;
    bottom: 20px;
    right: min(5vw, 120px);
}

.aside_picture p {
    margin-top: -30px;
    font-size: 18px;
    width: 390px;
    font-style: italic;
    line-height: 1.3;
}

.aside_picture img {
    z-index: 1;
    position: absolute;
}

.aside_picture img:first-child {
    right: 10px;
    bottom: 55px;
}

.aside_picture img:last-child {
    right: 0;
    top: 0;
}

.svg_container_line {
    position: relative;
    width: 100%;
    height: 306px;
    z-index: 0;
}

.aside_section_note {
    width: 390px;
    margin-right: 85px;
    margin-bottom: 55px;
}

.aside_section_note p {
    font-size: 18px;
    line-height: 21px;
    font-style: italic;
}

@media screen and (max-width: 1160px) {
    .aside {
        margin-top: 0;
        padding-top: 0;
    }

    .aside_content {
        width: 80%;
        margin-right: 0;
        margin-left: 15px;
        padding-top: 0;
    }

    .aside_content_order p,
    .aside_content_review p {
        font-size: 25px;
    }

    .aside_content_order_button,
    .aside_content_review_button {
        margin-left: 20px;
    }

    .aside_content_order_button a {
        width: 110px;
        margin-right: 0;
    }

    .aside_picture {
        height: 33em;
    }

    .aside_picture p {
        margin-top: -20px;
        font-size: 16px;
        width: 310px;
    }

    .aside_picture img:first-child {
        bottom: 40px;
        width: 386px;
        height: 386px;
    }
    
    .aside_picture img:last-child {
        top: 10px;
        width: 390px;
        height: 560px;
    }    

    .aside_section_note {
        width: 380px;
        margin-right: 60px;
    }
    
    .aside_section_note p {
        font-size: 17px;
    }
}

@media screen and (max-width: 890px) {
    .aside_content {
        padding-top: 0;
    }

    .aside_content_order p,
    .aside_content_review p {
        font-size: 22px;
    }
    .aside_content_order_button a {
        margin-left: 0;
    }

    .aside_content_order_button,
    .aside_content_review_button {
        margin-left: 25px;
    }

    .aside_picture {
        height: 30em;
    }

    .aside_picture img:first-child {
        bottom: 48px;
        width: 316px;
        height: 316px;
    }
    
    .aside_picture img:last-child {
        top: 10px;
        width: 335px;
        height: 480px;
    }    

    .aside_section_note {
        width: 340px;
        margin-right: 38px;
    }
    
    .aside_section_note p {
        font-size: 16px;
    }
}

@media screen and (max-width: 760px) {
    .aside {
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .aside_background {
        height: 58%;
        top: 40%;
    }

    .aside_content {
        justify-content: flex-end;
        width: unset;
        margin-left: 0;
        margin-top: 40px;
    }

    .aside_content p {
        font-size: 21px;
    }

    .main_content p {
        font-size: 16px;
        width: 65%;
        min-width: 300px;
    }

    .main_content img {
        width: 173px;
        height: 128px;
    }

    .aside_content_order, .aside_content_review {
        padding-left: 0%;
    }

    .aside_content_order_button,
    .aside_content_review_button {
        width: unset;
        margin-left: 15px;
    }

    .aside_content_order_button a {
        width: 95px;
        margin-right: 15px;
    }

    .aside_content_review_button a {
        width: 115px;
    }

    .aside_content_order p::after,
    .aside_content_review p::after {
        margin-top: 10px;
        height: 3px; /* Ajustez l'épaisseur de la ligne selon vos préférences */
    }

    .aside_content_order p::after {
        width: 3.7em;
    }
    
    .aside_content_review p::after {
        width: 5.4em;
    }

    .aside_picture {
        position: static;
        text-align: center;
        width: 100%;
        margin-right: 0;
    }

    .aside_picture p {
        margin: auto;
        text-align: left;
        margin-top: -20px;
        width: 350px;
    }

    .svg_container_line {
        height: 260px;
    }

    .aside_section_note {
        margin-right: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 450px) {
    .main_content p {
        font-size: 17px;
        width: 90%;
        min-width: 150px;
    }

    .main_content img {
        width: 160px;
        height: 110px;
    }

    .aside {
        margin-top: 0;
    }

    .aside_background {
        height: 52%;
        top: 46%;
    }

    .aside_content {
        width: 41%;
        min-width: 273px;
        margin: 0;
        padding-bottom: 105px;
    }

    .aside_content p {
        font-size: 17px;
    }

    .aside_content_order_button a, 
    .aside_content_review_button a  {
        margin-right: 0px;
        margin-left: 10px;
    }

    .aside_picture {
        height: 22em;
    }

    .aside_picture img {
        width: 245px;
        height: 355px;
    }

    .aside_picture img:first-child {
        bottom: 38px;
        width: 220px;
        height: 220px;
        right: 22px;
    }

    .aside_picture img:last-child {
        bottom: 48px;
        width: 245px;
        height: 350px;
        right: 5px;
    }

    .aside_picture p {
        font-size: 14px;
        width: 310px;
    }

    .svg_container_line {
        height: 202px;
    }

    .aside_section_note {
        margin-bottom: 30px;
        width: 252px;
    }

    .aside_section_note p {
        font-size: 15px;
    }
}


@media screen and (min-width: 1600px) {
    .main_content img {
        width: 353px;
        height: 268px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .main_content p {
        font-size: 33px;
    }

    .svg_container_line {
        height: 400px;
    }

    .aside {
        width: 80%;
        min-width: 1500px;
    }

    .aside_background {
        top : 60%;
        height: 40%;
    }

    .aside_content_order p {
        font-size: 36px;
    }

    .aside_content_review p {
        font-size: 34px;
    }

    .aside_picture img:first-child {
        bottom: 20px;
        right: 25px;
        width: 450px;
        height: 450px;
    }

    .aside_picture img:last-child {
        bottom: 48px;
        width: 475px;
        height: 670px;
        right: 5px;
    }

    .aside_section_note {
        width: 419px;
        margin-right: 107px;
        margin-bottom: 80px;
    }

    .aside_section_note p {
        font-size: 24px;
        line-height: 25px;
    }
}